extends ./layout/index

block contenido
  main.container.mt-5 
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
      .col-md-7 
        h1= pagina
        blockquote ipsum dolor sit amet, consectetur adipisicing elit. Dolore facilis unde, ad earum eaque deserunt quod nam nostrum magni quis officiis aliquid blanditiis pariatur velit dolor veritatis, atque doloribus facere!

        p ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis laudantium enim qui culpa adipisci doloribus sed voluptatibus deserunt aliquam sunt. Adipisci quis libero reprehenderit inventore porro dolorum doloremque. Magnam, harum!

        p ipsum dolor, sit amet consectetur adipisicing elit. Praesentium tempore aliquam maiores recusandae! Corporis doloribus necessitatibus alias earum dolore. Fuga, voluptate. Eligendi et, quam aperiam ipsam repellendus voluptatem praesentium quo.

  .listado-iconos   
    .container.mt-5.py-5.text-center 
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi cupiditate facere ab, blanditiis tenetur beatae laudantium illo rerum fuga praesentium harum? Nesciunt enim cumque voluptate vitae omnis aliquid, provident quo.
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores Destinos 
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi cupiditate facere ab, blanditiis tenetur beatae laudantium illo rerum fuga praesentium harum? Nesciunt enim cumque voluptate vitae omnis aliquid, provident quo.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los Mejores Precios
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi cupiditate facere ab, blanditiis tenetur beatae laudantium illo rerum fuga praesentium harum? Nesciunt enim cumque voluptate vitae omnis aliquid, provident quo.